body {
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 900px;

}
#header {
    margin: 0px auto;
    padding: 100px 0 0 0;
    text-align: center;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}
.juliegadoury{
    font-size: 34px;
    font-family: 'Alegreya Sans', sans-serif;
}
.julie{
    color: #6D6D6D;
}
.gadoury{
    color: #FFB238;
}
.titre{
    font-family: 'Open Sans', sans-serif;
    color: #6D6D6D;

}
/*----Navigation---*/

.navbar {
  background-color: #ffffff;
  border-color: #ffffff;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 100px;
}

/*----Fin Navigation---*/

.separateurJaune{
    border-bottom:1px solid #FFB238;
    padding: 0;
    width: 900px;
}
.marginTopRow {
    margin-top: 20px;
}
.separateurGris{
    border-bottom:1px solid #6D6D6D;
    padding: 0;
}

.textContenu{
    padding: 20px;
    font-size: 16px;
}
a:link    {color:#6D6D6D;  text-decoration:none}
a:visited {color:#6D6D6D;  text-decoration:none}
a:hover   {color:#FFB238;  text-decoration:none}
a:active  {color:#6D6D6D;  text-decoration:none}